#banner {
	width: 100wh;
	height: 120vh;
	background-image: url(file:///Users/paulx/Desktop/Auto-Formule-1-2-2018-678x381.jpg);
	background-size: cover;
	text-align: center;

}
h1 {
	color: white;
	text-align: center;
	font-size: 45px;
	font-family: chivo;
	padding: 350px;
	color: white;

}
#main-subtitle {
	color: white;
	text-align: center;
	opacity: 0.7;
	font-family: Overpass;
	font-size: 24px;
}
#red-button {
	text-decoration: none;
	color: white;
	text-align: center;
	font-family: Overpass;
	font-size: 20px;
	background-color: red;
	padding: 30px;
	position: relative;
	bottom: 200px;
	border-radius: 9px;
	font-weight: 900;
}
#red-button:hover {
	background-color: darkblue;
	transition: all 0.5s ease-out;
}

#subtitle {
	font-family: Chivo;
	color: red;
	font-weight: bold;
	margin-left: 25%;
}
#container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
.card {
	background-color: white;
	width: 228px;
	height: 315px;
	box-shadow: 0 0 16px rgb(0,0,0,0.1);
	border-radius: 4px;
	padding: 24px;
	margin: 8px;
	text-align: center;

}
.card img {
	width: 100%;
	border-radius: 4px;
	height: 180px;
	object-fit: cover;
}
.card h3 {
	color: black;
	font-family: chivo;
	font-size: 18px;
	text-align: center;
}
#footer {
	height: 50px;
	background-color: black;
	color: white;
	padding-top: 4%;
	text-align: center;
	margin-top: 40px;
	font-family: overpass; 
}
.card a {
	font-family: chivo;
	color: black;
	text-align: center;
	text-decoration: none;
	padding: 10%;
	width: 20px;

}
.card p {
	text-align: start;
}




